/*Sivuston taustaväri ja perusasetukset*/
body {
    background: linear-gradient(90deg, rgba(237,231,137,1) 0%, rgba(147,166,3,1) 50%, rgba(61,68,8,1) 100%);
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* Sivuston perusasetukset loppuu*/

/*Headerin taustavideo*/
header {
  position: relative;
  height: 40vh; /* Voit säätää tämän haluamaksesi korkeudeksi */
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Täyttää koko alueen ilman vääristymistä */
  z-index: -1; /* Pidetään video taustalla */
}
/*Headerin video loppuu*/

/*Navi alkaa*/
nav {
  position: absolute;
  bottom: 0; /* Siirtää navin headerin alareunaan */
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Valinnainen, tummennetaan taustaa, jotta linkit erottuvat */
  z-index: 1; /* Varmistaa, että navigaatio on videon päällä */
}

nav ul {
  list-style-type: none;
  padding: 10px;
  text-align: center;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  margin-left: 15px;
}
nav ul li a:hover {
  cursor: pointer;
  color: #442812;
}
/*Navi loppuu*/

/*Pääotsikko alkaa*/
h1 {
  position: absolute;
  top: 40px; /* Voit säätää tätä arvoa tarpeen mukaan */
  left: 40px; /* Voit säätää tätä arvoa tarpeen mukaan */
  color: #442812;
  font-family: "Jockey One", sans-serif;
  font-weight: 900;
  font-size: 5rem; /* Voit säätää fonttikokoa tarpeen mukaan */
  z-index: 1; /* Varmistaa, että otsikko näkyy videon päällä */
  margin: 0;
}
/*Pääotsikko loppuu*/

/* Slideshow alkaa*/
.slideshow-container {
  max-width: 800px;
  position: relative;
  margin-top: 40px;
  
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.mySlides img {
    width: 750px;
    height: 500px;
    border-radius: 3%;
}

/* Dots alkaa */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}
/*Dots loppuu*/

/* Slideshow fading animation alkaa */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/*Slideshow fade animaatio loppuu*/

/*Flexbox leipäteksteille ja kuvakarusellille*/
.flexbox {
  display: flex;
  justify-content: center;
}
/*Flexbox loppuu*/

/*Leipätekstit alkaa*/
.paragraph {
  width: 600px;
  margin: 40px;
  text-align: left;
  font-size: 1rem;
  padding: 12px;
  line-height: 16px;
  background-color: rgba(190, 184, 95, 0.849);
  color: #301c0d;
  border-radius: 3%;
}
/*Leipätekstit loppuu*/

/*Footer alkaa*/
Footer {
  display: flex;
  justify-content: center;
}

.footer {
  width: 650px;
  margin: 40px;
  text-align: left;
  font-size: 1.1rem;
  font-weight: 800;
  padding: 35px;
  line-height: 10px;
  color: white;
  border-radius: 3%;
  position: relative; /* Sijoittaa elementin suhteessa itseensä */
  background-image: url('../kuvat/footer.jpg'); /* Asetetaan taustakuva */
  background-size: cover; /* Kuvan koko täyttää taustan */
  background-position: center; /* Sijoittaa kuvan keskelle */
  background-repeat: no-repeat; /* Estää kuvan toistamisen */
}

.footer a {
  text-decoration: none;
  color: rgba(240, 225, 14, 0.952);
}

.footer a:hover {
  cursor: pointer;
  color: wheat;
}
/*Footer loppuu*/

/*Media Screenit alkaa*/
@media only screen and (max-width: 1300px)  {
  
  /*Slideshow*/
  .slideshow-container {
    max-width: 700px;
    position: relative;
    margin-top: 40px;
    
  }

  .mySlides img {
    width: 600px;
    height: 400px;
}
/*Leipätekstit*/

/*Flexbox leipäteksteille ja kuvakarusellille*/
.flexbox {
  display: flex;
  flex-wrap: wrap;
}
/*Flexbox loppuu*/
}

@media only screen and (max-width: 600px)  {
  
  /*Slideshow*/
  .slideshow-container {
    max-width: 400px;
    position: relative;
    margin-top: 40px;
    
  }

  .mySlides img {
    width: 300px;
    height: 200px;
}

/*Flexbox leipäteksteille ja kuvakarusellille*/
.flexbox {
  display: flex;
  flex-wrap: wrap;
}
/*Flexbox loppuu*/

/*Footer*/
.footer {
  width: 250px;
  margin: 20px;
  text-align: left;
  font-size: 0.8rem;
  font-weight: 400;
  padding: 8px;
  line-height: 12px;
}
/*Navi*/
nav ul {
  padding: 5px;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  font-size: 15px;
  margin-left: 5px;
}

/*Headerin otsikko*/
h1 {
  position: absolute;
  top: 20px; /* Voit säätää tätä arvoa tarpeen mukaan */
  left: 20px; /* Voit säätää tätä arvoa tarpeen mukaan */
  font-weight: 600;
  font-size: 3rem; /* Voit säätää fonttikokoa tarpeen mukaan */
}
}
/*Media screenit loppuu*/